In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import joblib

In [11]:
%pwd
%cd ..

c:\Users\Administrator\Desktop\Machine-Learning-Practice

In [12]:
df = pd.read_csv("Salary_Data.csv")
df.sample(5)

    YearsExperience    Salary
1               1.3   46205.0
23              8.2  113812.0
14              4.5   61111.0
25              9.0  105582.0
10              3.9   63218.0

In [17]:
X = np.array(df.loc[:,"YearsExperience"]).reshape(-1,1)
y = np.array(df.loc[:, "Salary"]).reshape(-1,1)

In [19]:
lr = LinearRegression().fit(X,y.reshape(-1,1))
lr.score(X,y)

0.9569566641435086

In [20]:
joblib.dump(lr, "linear_regression_model.pkl")

['linear_regression_model.pkl']